[submodule "src/c/3rd/ovbase"]
	path = src/c/3rd/ovbase
	url = https://github.com/oov/ovbase
[submodule "src/c/3rd/aviutl_plugin_sdk"]
	path = src/c/3rd/aviutl_plugin_sdk
	url = https://github.com/oov/aviutl_plugin_sdk
[submodule "src/c/3rd/ovl"]
	path = src/c/3rd/ovl
	url = https://github.com/oov/ovl
[submodule "src/c/3rd/yyjson"]
	path = src/c/3rd/yyjson
	url = https://github.com/ibireme/yyjson
[submodule "src/c/3rd/aviutl2_plugin_sdk"]
	path = src/c/3rd/aviutl2_plugin_sdk
	url = https://github.com/oov/aviutl2_plugin_sdk
[submodule "src/c/3rd/lodepng"]
	path = src/c/3rd/lodepng
	url = https://github.com/lvandeve/lodepng
