name: releaser

on:
  workflow_dispatch:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+alpha[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+beta[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+"

env:
  GCMZ_PUBLIC_KEY: a24a2a43dacb1d7ee3dd7651636f90d6c86168a0a1e2e422c0fc6ce65db275df

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Get the version
        id: get_version
        shell: bash
        run: |
          echo "tag=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT
      - name: Build
        shell: bash
        run: |
          docker run --net host --rm -i -e GCMZ_PUBLIC_KEY -v .:/root/repo -w /root/repo ubuntu:22.04 /bin/bash -c 'apt update && apt install -y git curl unzip && git config --system --add safe.directory "*" && LANG="C.UTF-8" TZ="JST-9" bash build.bash --skip-tests --zip'
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            build/Release/x86_64/bin/
            build/Release/x86_64/src/c/version.env
            build/Release/dist/

  installer-and-release:
    runs-on: windows-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: build/Release/
      - name: Install Inno Setup
        shell: pwsh
        run: |
          choco install innosetup --version=6.6.1 -y
      - name: Build installer
        shell: bash
        run: |
          bash build.bash --skip-tests --installer
      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.CREATE_RELEASE_SECRET }}
          VERSION: ${{ needs.build.outputs.version }}
        shell: bash
        run: |
          envsubst < .github/RELEASE_TEMPLATE.md > release_notes.md
          gh release create "${VERSION}" \
            --draft \
            --title "${VERSION}" \
            --notes-file release_notes.md \
            "build/Release/dist/gcmzdrops_${VERSION}.zip" \
            "build/Release/dist/gcmzdrops_${VERSION}_setup.exe"
